<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.ww.mybatis.mapper.StudentsMapper">
    <insert id="addStu">
insert into students(name,age,score) values("haha",17,80)
    </insert>
    <select id="getStudentById" resultType="students">
select * from students where id=1;
    </select>
</mapper>
